/* Navigation */

#workarea {
  position   : absolute;
  top        : 0px;
  right      : 0px;
  bottom     : 0px;
  left       : 0px;
  background : white;
}

#header {
  width       : 100%;
  height      : 56px;
  margin      : 0px;
  color       : white;
  background  : #97CA3A;
  line-height : 56px;
}

#header_section_description {
  width      : calc(100% - 85px);
  float      : left;
  text-align : center;
}

.section_page {
  display    : none;
  position   : absolute;
  top        : 60px;
  bottom     : 0px;
  width      : 100%;
  overflow   : auto;
  background : #F7F7F7;
}

.section_active {
  display : block;
}

.tablist {
  margin     : 0px;
  padding    : 0px;
  background : #FFFFFF;
  text-align : center;
  list-style : none;
}

.tablist>li {
  display    : inline-block;
  padding    : 16px;
  text-align : center;
}

.tablist>li.active {
  color         : #97CA3A;
  border-bottom : 2px solid #97CA3A;
}

.nav2 {
  height      : 25px;
  padding     : 16px;
  color       : dimgray;
  background  : white;
  font-weight : 900;
}

.tab-listtab {
  position   : absolute;
  top        : 52px;
  right      : 0px;
  bottom     : 10px;
  left       : 0px;
  overflow   : auto;
  overflow-x : hidden;
}

.get-nicer {
  overflow : auto;
}

.nice-wrapper {}

.nicescroll-rails {
  width : 2px;
}

.nicescroll-cursors {
  border           : none !important;
  border-radius    : 260px !important;
  background-color : #97CA3A !important;
}

/* Buttons */

#header_menu_btn {
  width       : 24px;
  float       : left;
  margin-left : 15px;
  color       : white;
  font-size   : 24px;
}

#header_user_btn {
  width        : 24px;
  float        : right;
  margin-right : 10px;
  font-size    : 24px;
}

.btn_next {
  display       : none;
  position      : fixed;
  right         : 15px;
  bottom        : 60px;
  width         : 56px;
  height        : 56px;
  color         : white;
  border-radius : 360pc;
  background    : #05657B;
  text-align    : center;
  font-size     : 1.6rem !important;
  line-height   : 56px !important;
}

/* Survey profile */

.survey_profile_header {
  padding          : 6px 12px;
  color            : gray;
  background-color : #fff;
  font-size        : 12px;
}

.survey_profile_description {
  height     : 85px;
  margin-top : 0px;
  padding    : 16px;
  color      : black;
  background : white;
  box-shadow : 0 3px 5px rgba(0,0,0,0.2);
  text-align : justify;
  font-size  : 14px;
}

.survey_profile_rules {
  padding    : 10px;
  color      : black;
  background : white;
  box-shadow : 0 3px 5px rgba(0,0,0,0.2);
  text-align : justify;
}

.rules_list {
  list-style: none;
  margin-left: -37px;
}

.rules_list li {
  font-size: 14px;
  padding-bottom: 12px;
}

.rules_list i {
  padding-right: 20px;
}

.survey_profile_start {
  margin-top: 1px;
  background-color: #fff;
  height: 200px;
}

.start_survey {
  padding-top: 25px;
  text-align: center;
}

.start_survey i {
  font-size: 70px;
  color: #72bb53;
}

/* Question */

.question {
  height     : 85px;
  margin-top : 7px;
  padding    : 16px;
  color      : #97ca3a;
  background : white;
  box-shadow : 0 3px 5px rgba(0,0,0,0.2);
  text-align : justify;
}

.instructions {
  height     : 36px;
  padding    : 16px;
  color      : black;
  background : white;
  box-shadow : 0 3px 5px rgba(0,0,0,0.2);
  text-align : justify;
}

.space {
  display          : flex;
  height           : 35px;
  margin-top       : 5px;
  color            : dimgray;
  background-color : white;
  line-height      : 29px;
}

.questionOption {
  display          : flex;
  height           : 40px;
  margin-top       : 5px;
  padding          : 10px;
  color            : dimgray;
  background-color : white;
  line-height      : 29px;
}

#surveyProgressText {
  position    : fixed;
  bottom      : 0px;
  width       : 100%;
  height      : 50px;
  color       : white;
  text-align  : center;
  font-size   : 20px;
  line-height : 50px;
}

#surveyProgress {
  position         : fixed;
  bottom           : 0px;
  width            : 100%;
  height           : 50px;
  color            : white;
  background-color : hsla(81, 58%, 75%, 1);
  text-align       : center;
  font-size        : 20px;
  line-height      : 50px;
}

#surveyProgressText {
  position    : fixed;
  bottom      : 0px;
  width       : 100%;
  height      : 50px;
  color       : white;
  text-align  : center;
  font-size   : 20px;
  line-height : 50px;
}

.progress {
  width            : 10%;
  height           : 100%;
  margin           : 0px;
  background-color : #97ca3a;
}

.questionOption label {
  margin-left : 15px;
}

/* Section Encuestas */

.survey_card {
  height        : 150px;
  margin        : 10px;
  border-radius : 6px;
  background    : white;
  box-shadow    : 0 2px 12px 0 rgba(0,0,0,0.1);
}

.survey_card_header {
  display         : flex;
  height          : 60px;
  padding         : 10px;
  border-bottom   : 4px dashed white;
  border-radius   : 8px;
  justify-content : space-between;
}

.survey_card_header_logo {
  width           : 55px;
  height          : 55px;
  border          : 2px solid white;
  border-radius   : 360px;
  background-size : 111%;
}

.survey_card_header_name {
  color : white;
}

.survey_card_body {
  display         : flex;
  padding         : 15px;
  color           : dimgray;
  justify-content : space-between;
}

.survey_card_body_actions div {
  margin-left : 5px;
  font-size   : 30px !important;
}

.survey_card_body>div {
  font-size    : 15px !important;
  flex         : 100%;
  flex-wrap    : nowrap;
  word-spacing : 0px;
}

.survey_card_body>div:before {
  margin-right : 10px;
  color        : attr(pcolor);
}

.survey_data {
  padding   : 5px 15px 2px 5px;
  color     : black !important;
  font-size : 12px !important;
}
