

#login {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10000;
    background-color: #0177d7;
    background-image: url(../img/loginbackg.jpg);
    animation-duration: 20s;
    animation-name: backgroundMove;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;	
}

#login_box{
    position: fixed;
    left: 50%;
    width: 229px;
    margin-left: -110px;
    top: 50%;
    margin-top: -210px;
}


#login_logo{
    background-image: url(../img/logow.png);
    background-size: contain;
    height: 110px;
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    margin-bottom: 40px;
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  width: 215px;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}


.login_input          { 
  position:relative; 
  margin-bottom:22px; 
}
.login_input  input     {
    font-size: 18px;
    padding: 9px 10px 10px 5px;
    display: block;
    width: 203px;
    border: none;
    border-bottom: 1px solid #dedede;
    background: transparent;
}
.login_input  input:focus     { outline:none; }

/* LABEL ======================================= */
.login_input  label          {
  color:#fff; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
.login_input  input:focus ~ label, input:valid ~ label    {
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.login_input  .bar  { position:relative; display:block; width:300px; }
.login_input  .bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.login_input  .bar:before {
  left:50%;
}
.login_input  .bar:after {
  right:50%; 
}

/* active state */
.login_input  input:focus ~ .bar:before, input:focus ~ .bar:after {
 /* width:50%;*/
}

/* HIGHLIGHTER ================================== */
.login_input  .highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}


#login_box a {
    color: white;
    margin-top: 60px;
    font-size: 10px;
}

#login_info_txt {
    color: yellow;
    text-align: center;
    font-weight: bolder;
}

/* active state */
.login_input  input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}


@keyframes backgroundMove {
  from {
    background-position-x: 0px;
	
  }

  to {
   background-position-x: -1000px;
	
  }
}