* {
  -moz-user-select    : none; /* Chrome all / Safari all */
  -ms-user-select     : none; /* Firefox all */
  -webkit-user-select : none; /* IE 10+ */
  user-select         : none; /* Likely future */
}

[contenteditable],
input,
select,
textarea {
  -moz-user-select    : text; /* Chrome all / Safari all */
  -ms-user-select     : text; /* Firefox all */
  -webkit-user-select : text; /* IE 10+ */
  user-select         : text; /* Likely future */
}

#invisibleTap {
  z-index  : 999;
  display  : none;
  position : fixed;
  top      : 0px;
  right    : 0px;
  bottom   : 0px;
  left     : 0px;
}

.add_btn {
  position           : absolute;
  right              : 20px;
  bottom             : 20px;
  width              : 58px;
  height             : 58px;
  color              : white;
  border-radius      : 360px;
  background-color   : #97CA3A;
  -moz-box-shadow    : 0px 1px 31px 10px rgba(240,240,240,1);
  -webkit-box-shadow : 0px 1px 31px 10px rgba(240,240,240,1);
  box-shadow         : 0px 1px 9px 5px rgba(200,200,220,0.8);
  text-align         : center;
  font-size          : 38px;
  line-height        : 58px;
}

.card {
  width      : calc(100% - 20px);
  height     : 120px;
  margin     : 10px;
  overflow   : hidden;
  background : #FFFFFF;
  box-shadow : 0 2px 12px 0 rgba(0,0,0,0.1);
  transition : 0.3s;
}

.card.for_swipe {
  margin-top : -120px;
}

.delete_swipe {
  width            : 100px;
  height           : 120px;
  color            : white;
  overflow         : hidden;
  background-color : indianred;
  text-align       : center;
  font-size        : 35px;
  line-height      : 114px;
}

.swipe_area {
  display     : inline-flex;
  margin-left : 0px;
}

.card:hover {
  box-shadow : 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card_day {
  width      : calc(100% - 20px);
  min-height : 120px;
  margin     : 10px;
  overflow   : overlay;
  background : #FFFFFF;
  box-shadow : 0 2px 12px 0 rgba(0,0,0,0.1);
  transition : 0.3s;
}

#AdminNav,
#billsNav,
#bookinNav,
#typeOfSignInHome {
  box-shadow : 0 2px 12px 0 rgba(0,0,0,0.2);
}

#resource_select_day {
  padding    : 20px;
  color      : gray;
  background : white;
  box-shadow : 0 2px 12px 0 rgba(0,0,0,0.2);
  font-size  : 32px;
}

.tab-listtab {
  position   : absolute;
  top        : 60px;
  right      : 0px;
  bottom     : 10px;
  left       : 0px;
  overflow   : auto;
  overflow-x : hidden;
}

.post-cursel {
  position : absolute;
  top      : 146px;
  right    : 0px;
  bottom   : 10px;
  left     : 0px;
  overflow : auto;
}

.card_guess_id {
  content       : "1";
  width         : 82px;
  height        : 82px;
  margin-top    : 21px;
  margin-left   : 10px;
  color         : gray;
  border        : 1px solid gray;
  border-radius : 360px;
  text-align    : center;
  font-size     : 60px;
  line-height   : 80px;
}

.card_day_resource_id {
  position        : relative;
  top             : 10px;
  width           : 50px;
  height          : 100%;
  margin-left     : 10px;
  color           : gray;
  background-size : 100px;
  text-align      : center;
  font-size       : 60px;
  line-height     : 80px;
}

.card_day_table {
  margin-top    : 10px;
  margin-bottom : 12px;
}

.card_resource_info th {
  text-align : left;
}

.card_resource_id {
  position        : relative;
  top             : 10px;
  width           : 100px;
  height          : 100px;
  margin-left     : 10px;
  color           : gray;
  border          : 1px solid gray;
  background-size : 100px;
  text-align      : center;
  font-size       : 60px;
  line-height     : 80px;
}

.card_resource_info {
  display      : inline-block;
  width        : calc(100% - 136px);
  float        : right;
  margin-top   : -83px;
  margin-right : 10px;
  color        : gray;
  font-size    : 14px;
}

.card_title {
  color       : dimgray;
  font-weight : 600;
}

.card_element {
  display    : flex;
  margin-top : 5px;
}

.card_element>div {
  margin-left : 15px;
}

.card_guess_info {
  width       : 241px;
  margin-top  : 27px;
  margin-left : 20px;
  color       : gray;
  font-size   : 14px;
}

.card_guess_info th {
  text-align : left;
}

.main_color {
  color : #97CA3A;
}

.tab-listtab:not(:first-of-type) {
  display : none;
}

.addPerson_select_type_container {
  margin-left : 20px;
}

.form {
  width         : 100%;
  padding-right : 20px;
}

.form td {
  padding-top : 10px;
}

.form_input_full {
  width         : calc(100% - 12px);
  height        : 15px;
  padding       : 6px;
  border        : 1px solid lightgray;
  border-radius : 6px;
  background    : white;
}

.form_input_half {
  width         : calc(45% - 12px);
  height        : 15px;
  padding       : 7px;
  border        : 1px solid lightgray;
  border-radius : 6px;
  background    : white;
}

.form_td_toggle {
  line-height : 44px;
}

.checkbox {
  width  : 25px;
  height : 25px;
  border : 2px solid lightgray;
}

.chekbox_table {
  width         : 100%;
  padding-top   : 10px;
  padding-right : 3px;
}

.checkbox.check,
.selected_cur_day,
.selected_sch_day {
  color      : white;
  background : #97CA3A;
}

.picker__holder {
  top       : -250px!important;
  max-width : calc(100% - 50px) !important;
}

.button {
  width         : calc(50% - 50px);
  float         : left;
  margin-top    : 25px;
  margin-right  : 20px;
  margin-bottom : 25px;
  padding       : 14px;
  color         : white;
  background    : darkgrey;
  text-align    : center;
}

.button.mc {
  background-color : #97CA3A;
}

#logout_btn {
  position      : absolute;
  top           : 296px;
  right         : 10px;
  left          : 10px;
  width         : 250px;
  float         : left;
  margin-top    : 25px;
  margin-right  : 10px;
  margin-bottom : 25px;
  padding       : 14px;
  color         : white;
  background    : #97CA3A;
  text-align    : center;
}

#cars_table {
  width           : calc(100% - 20px);
  margin-top      : 9px;
  border-collapse : collapse;
}

#cars_table thead tr {
  color            : white;
  background-color : #97CA3A;
}

#cars_table th {
  padding : 10px;
}

#cars_table td {
  padding    : 10px;
  background : white;
  text-align : center;
}

.select_car_type {
  width         : 82px;
  padding       : 7px;
  border-radius : 6px;
}

.boxModal {
  position    : absolute;
  top         : 50%;
  left        : 50%;
  width       : 100%;
  max-width   : 320px;
  height      : 225px;
  margin-top  : -100px;
  margin-left : -160px;
  padding     : 0 0 3% 0;
  opacity     : 1 !important;
  background  : white;
}

.boxModal h2 {
  height      : 60px;
  margin-top  : 0px;
  color       : white;
  background  : #636466;
  text-align  : center;
  font-size   : 1.3em;
  font-weight : normal;
  line-height : 60px;
}

.boxModal p {
  width      : 80%;
  margin     : 0 auto;
  padding    : 3% 0 11% 0;
  color      : #636466;
  text-align : center;
}

.boxModal ul {
  width      : 75%;
  margin     : 0 auto;
  padding    : 8% 0 11% 0;
  padding    : 2% 0 2% 0;
  overflow   : hidden;
  list-style : none;
}

.boxModal ul li {
  float  : left;
  margin : 0 20px 0 0;
}

.boxModal button {
  display     : block;
  width       : 100px;
  color       : #FFFFFF;
  border      : none;
  text-align  : center;
  font-size   : 18px;
  line-height : 30px;
}

.boxModal .okBtn {
  margin     : 0 auto;
  background : #97CA3A;
}

.boxModal .yesBtn {
  margin     : 0 auto;
  background : #97CA3A;
}

.boxModal .noBtn {
  background : #636466;
}

.modalEfika {
  z-index  : 10000;
  display  : none;
  position : fixed;
  top      : 0px;
  right    : 0px;
  bottom   : 0px;
  left     : 0px;
  width    : 100%;
  height   : 100%;
}

.bgModal {
  width      : 100%;
  height     : 100%;
  opacity    : 0.6;
  background : #000;
}

.pick_cursel_day tr:nth-child(1) td {
  text-align : center;
  font-size  : 16px;
}

.pick_cursel_day tr:nth-child(2) td {
  width         : 32px;
  height        : 32px;
  border        : 1px solid gray;
  border-radius : 360px;
  text-align    : center;
  font-size     : 16px;
}

#resource_day_cursel {
  overflow-x : auto;
}

.arrow_box {
  position   : relative;
  border     : 1px solid #caeaff;
  background : #88b7d5;
}

.arrow_box:after,
.arrow_box:before {
  content        : " ";
  position       : absolute;
  top            : 50%;
  left           : 100%;
  width          : 0;
  height         : 0;
  border         : solid transparent;
  pointer-events : none;
}

.arrow_box:after {
  margin-top        : -20px;
  border-color      : rgba(136, 183, 213, 0);
  border-left-color : #88b7d5;
  border-width      : 20px;
}

.arrow_box:before {
  margin-top        : -21px;
  border-color      : rgba(202, 234, 255, 0);
  border-left-color : #caeaff;
  border-width      : 21px;
}

.left {
  float : left;
}

.right {
  float : right;
}

.to_txt {
  float       : left;
  margin-left : 10px;
  line-height : 30px;
}

.ripple {
  position          : absolute;
  border-radius     : 100%;
  background        : rgba(0,0,0,.25);
  -ms-transform     : scale(0);
  -webkit-transform : scale(0);
  transform         : scale(0);
  pointer-events    : none;
}

.ripple.show {
  -webkit-animation : ripple .5s ease-out;
  animation         : ripple .5s ease-out;
}

#AuthIntegration {
  display       : flex;
  position      : absolute;
  bottom        : 85px;
  width         : calc(100% - 22px);
  padding-right : 12px;
  padding-left  : 10px;
}

#AuthIntegration div {
  width      : 33%;
  padding    : 10px;
  color      : white;
  border     : 1px solid white;
  text-align : center;
  font-size  : 32px;
}

.authIntegration_fbk {
  background : #4066B3;
}

.authIntegration_google {
  background : #db3236;
}

.authIntegration_key {
  background : #3cba54;
}

.h4_mech_auth {
  position      : absolute;
  bottom        : 129px;
  left          : 10px;
  width         : calc(100% - 20px);
  border-bottom : 1px solid lightgrey;
  text-align    : center;
}

.h4_active_state {
  position      : absolute;
  bottom        : 264px;
  left          : 10px;
  width         : calc(100% - 20px);
  border-bottom : 1px solid lightgrey;
  text-align    : center;
}

#personalProfile {
  height        : 83px;
  margin        : -1px;
  border-radius : 30px 30px 0px 0px;
  background    : #97CA3A;
}

#personalProfile span {
  width         : 182px;
  float         : right;
  margin-top    : 35px;
  color         : white;
  text-overflow : ellipsis;
}

#myProperties {
  position     : absolute;
  bottom       : 240px;
  width        : calc(100% - 20px);
  margin-right : 10px;
  margin-left  : 10px;
  padding      : 10px;
  border       : 1px solid lightblue;
  background   : white;
}

.close_modal_btn {
  float     : right;
  margin    : 14px;
  color     : white;
  font-size : 25px;
}

[contenteditable]:focus {
  outline : 0px solid transparent;
}

#profilePicture {
  width         : 50px;
  height        : 50px;
  margin        : 14px;
  border-radius : 50%;
}

#add_estate_btn {
  position         : absolute;
  bottom           : 180px;
  left             : 10px;
  width            : calc(100% - 40px);
  height           : 30px;
  padding          : 10px;
  color            : white;
  background-color : #3cba54;
  text-align       : center;
  line-height      : 30px;
}

@-webkit-keyframes ripple {
  to {
    opacity           : 0;
    -webkit-transform : scale(1.5);
    transform         : scale(1.5);
  }
}

@keyframes ripple {
  to {
    opacity           : 0;
    -webkit-transform : scale(1.5);
    transform         : scale(1.5);
  }
}
